<% @gender = @gender || [] %>
<% @subject_count = @subject_count || 0 %>
<% @chart_data = {
    datasets: [ {
      data: @gender.map(&:subject_count),
      indexAxis: :y,
      label: "Plaque subject gender"
    } ],
    labels: @gender.map(&:gender)
  } %>
<% @chart_options = {} %>

<% if @subject_count > 0 %>
  <section id="diversity-category" class="diversity-category section">

    <!-- Section Title -->
    <div class="container section-title aos-init aos-animate" data-aos="fade-up">
      <div class="section-title-container d-flex align-items-center justify-content-between">
        <h2>Gender Diversity</h2>
      </div>
    </div><!-- End Section Title -->

    <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

      <canvas style="display: block; box-sizing: border-box; height: 400px; width: 800px;" data-controller="chartjs" data-chartjs-type-value="bar" data-chartjs-data-value="<%= @chart_data.to_json %>" data-chartjs-options-value="<%= @chart_options.to_json %>"
    ></canvas>

    </div>

  </section>
<% end %>
