<% content_for(:page_title) { t(".page_title", limit: @limit) } %>



<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0">
      <%= t(".page_heading", limit: @limit) %>
    </h1>
    <nav class="breadcrumbs">
      <ol>
        <li><%= link_to "Home", root_path %></li>
        <li class="current">plaques</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<section id="role-summary" class="role-summary section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">

<%= render partial: 'plaques/row', collection: @plaques, as: :plaque %>

  </div>
</section>
