<% content_for(:page_title) { t('.page_title') } %>
<% content_for(:title) { t('.page_heading') } %>
<% content_for(:page_subhead) do %>
  <p><%= t('.how_many', count: @photographers_count) %></p>
  <p><%= t('.where') %> <%= t('.how_they_are_licenced_html') %></p>
<% end %>
<% content_for(:admin_menu) { navbar_link_to t('buttons.add'), new_photographer_path } %>

<canvas
  data-controller="chartjs"
  data-chartjs-data-value="<%= @chart_data.to_json %>"
></canvas>
