<% content_for(:page_title) {t '.page_title'} %>
<% content_for(:title) {t '.page_heading'} %>
<% content_for(:page_subhead) {t '.different_strokes'} %>
<% content_for(:admin_menu) {navbar_link_to(t('buttons.add'), new_country_path)} %>

<section class="section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <p>OpenPlaques currently has records of plaques in <%= Country.count %> countries around the world.</p>
    <p><%= t ".different_strokes" %>
    <div class="row" data-masonry='{"percentPosition": true }'>
      <%= render @countries %>
    </div>

  </div>
</section>
