<div class="col-sm-3 col-lg-2 mb-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
  <div class="float-end">
    <% @subject_count = verb.personal_connections_count %>
    <%= render partial: "people/badge" %>  
  </div>
  <%= link_to verb.name, verb %>
</div>
