<!-- Recent Posts Widget -->
<div class="recent-posts-widget widget-item">
  <h3 class="widget-title">Recent Posts</h3>
  <% Page.random(5).each do |page| %>
    <div class="post-item">
      <%= image_tag page.main_photo.thumbnail_url, alt: "", class: "flex-shrink-0" if page.main_photo %>
      <div>
        <h4><%= link_to page.name, page %></h4>
        <time datetime="<%= page.created_at.strftime('%Y-%m-%d') %>"><%= page.created_at.strftime('%-d %b %Y') %></time>
      </div>
    </div><!-- End recent post item-->
  <% end %>
</div><!--/Recent Posts Widget -->
