<%# locals: (title:) %>

<!-- Section Title -->
<div class="container section-title" data-aos="fade-up">
  <div class="section-title-container d-flex align-items-center justify-content-between">
    <h2><%= title %></h2>
  </div>
</div><!-- End Section Title -->
