<!-- Tags Widget -->
<div class="tags-widget widget-item">
  <h3 class="widget-title">Tag</h3>
  <ul>
    <% ActsAsTaggableOn::Tag.most_used(10).each do |tag| %>
      <li><a href="#"><%= tag.name %></a></li>
    <% end %>
  </ul>
</div><!--/Tags Widget -->
