<div class="row card mb-3" data-aos="fade-up" data-aos-delay="100">
  <div class="card-block">
    <h4 class="card-title"><%= link_to series.name, series %></h4>
    <p class="card-text"><%= series.description %></p>
    <% @plaques = series.plaques.photographed.random(5) %>
    <%= render partial: "plaques/tiles" %>
  </div>
</div>
