<% content_for(:page_title) { t(".page_title") } %>
<% content_for(:admin_menu) { navbar_link_to t("buttons.add"), new_series_path } %>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0"><%= t(".page_heading", count: @series.count) %></h1>
    <nav class="breadcrumbs">
      <ol>
        <li><%= link_to "Home", root_path %></li>
        <li class="current">Series</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<section class="section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <p><%= t(".explanation") %></p>

    <%= render partial: 'series/row', collection: @series, as: :series %>

  </div>
</section>
